<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>


<div *ngIf="!isLoading" class="container my-5">
    <div class="card shadow border-0 bg-white">

        <div class="card-header bg-white border-0">
            <h4>{{formTitle}}
                <a routerLink="/user-list" class="btn btn-danger float-end">X</a>
            </h4>
        </div>

        <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="row g-3">

                <div class="col-md-12">
                    <label for="first_name" class="form-label">
                        <h6>First Name</h6>
                    </label>
                    <input type="text" class="form-control" id="first_name" formControlName="first_name"
                        placeholder="First Name">
                    <div *ngIf="userForm.get('first_name')?.invalid && (userForm.get('first_name')?.touched || submitted)"
                        class="text-danger">
                        <div *ngIf="userForm.get('first_name')?.errors?.['required']">First name is required.</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="last_name" class="form-label">
                        <h6>Last Name</h6>
                    </label>
                    <input type="text" class="form-control" id="last_name" formControlName="last_name"
                        placeholder="Last Name">
                    <div *ngIf="userForm.get('last_name')?.invalid && (userForm.get('last_name')?.touched || submitted)"
                        class="text-danger">
                        <div *ngIf="userForm.get('last_name')?.errors?.['required']">Last name is required.</div>
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="address" class="form-label">
                        <h6>Address</h6>
                    </label>
                    <input type="text" class="form-control" id="address" formControlName="address"
                        placeholder="First Name">
                    <div *ngIf="userForm.get('address')?.invalid && (userForm.get('address')?.touched || submitted)"
                        class="text-danger">
                        <div *ngIf="userForm.get('address')?.errors?.['required']">Address is required.</div>
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="email" class="form-label">
                        <h6>Email</h6>
                    </label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                    <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.touched || submitted)"
                        class="text-danger">
                        <div *ngIf="userForm.get('email')?.errors?.['required']">Email is required.</div>
                        <div *ngIf="userForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="phone" class="form-label">
                        <h6>Phone</h6>
                    </label>
                    <input type="tel" class="form-control" id="phone" formControlName="phone" placeholder="Phone">
                    <div *ngIf="userForm.get('phone')?.invalid && (userForm.get('phone')?.touched || submitted)"
                        class="text-danger">
                        <div *ngIf="userForm.get('phone')?.errors?.['required']">Phone is required.</div>
                        <div *ngIf="userForm.get('phone')?.errors?.['pattern']">Please enter a valid 10-digit phone
                            number.</div>
                    </div>
                </div>

                <div class="col-12 my-5">
                    <button type="submit" class="btn btn-primary me-3">Submit</button>
                    <button type="button" value="Cancle" class="btn btn-primary" routerLink="/user-list">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>