<!-- Loader -->
<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<!-- Card -->
<div *ngIf="!isLoading" class="container-fluid my-5">
  <div class="card shadow border-0 bg-white">

    <!-- Header -->
    <div class="card-header bg-white border-0 pt-3">
      <h4>Users List
        <a routerLink="/user-form/0" class="btn btn-primary float-end">Add User</a>
      </h4>
    </div>
    <hr />

    <!-- Table -->
    <div class="card-body">
      <div class="table-responsive">
        <table class="table custom-table">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{ user.id }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.phone }}</td>
              <td>
                <button class="btn btn-primary btn-action me-2" (click)="editUser(user.id)">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-action" (click)="deleteUser(user.id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="p === 1">
            <a class="page-link" routerLink="/user-list" (click)="changePage(p - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of pages" [class.active]="p === page">
            <a class="page-link" routerLink="/user-list" (click)="p = page">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="p === totalPages">
            <a class="page-link" routerLink="/user-list" (click)="changePage(p + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>